.content{
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    max-width: 100vw;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.profile-page{
    display: flex;
    flex-direction: column;
}

.username-title{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.follows-box{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.chart-box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0;

    width: 30%;
    aspect-ratio: 1/1;
}

.chart{
    
}